body{
background-color: crimson;
}

h1{
    text-align: center;
    font-weight: 300px;
    font-family: 'Shrikhand', cursive;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: center;
}
